<a href="https://colab.research.google.com/github/mathRyan889/Salarios-e-experiencia/blob/main/Salario_e_experiencia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Você recebe um conjunto de dados anônimos contendo o salary (o salário de cada usuario, em dolares) e o tenure (a experiencia como cientista de dados, em anos):

In [ ]:
salaries_and_ternures = [
    (83000, 8.7),(88000, 8.1),
    (48000, 0.7),(76000, 6),
    (69000, 6.5),(76000, 7.5),
    (60000, 2.5),(83000, 10),
    (48000, 1.9), (63000, 4.2)
]

In [ ]:
#as chaves são anos, os valores são listas de salários por anos de experiencia.
from collections import defaultdict

salary_by_tenure = defaultdict(list)

for salary, tenure in salaries_and_ternures:
    salary_by_tenure[tenure].append(salary)

In [ ]:
# As chaves são anos, cada valor é o salário médio associado ao número de anos de experiencia.
average_salary_by_tenure = {
    tenure: sum(salaries)/len(salaries)
    for tenure, salaries in salary_by_tenure.items()
}

essa informação não é muit util, já que os usuários não tem os mesmos anos de experiencia, ou seja, só os seus salários individuais são indicados:

In [ ]:
average_salary_by_tenure

{8.7: 83000.0,
 8.1: 88000.0,
 0.7: 48000.0,
 6: 76000.0,
 6.5: 69000.0,
 7.5: 76000.0,
 2.5: 60000.0,
 10: 83000.0,
 1.9: 48000.0,
 4.2: 63000.0}

Vamos criar buckets de experiencia;

In [ ]:
def tenure_bucket(tenure):
  if tenure < 2:
    return "less than two"
  elif tenure < 5:
    return "between two and five"
  else:
    return "more than five"

em seguida, agrupamos os salários correspondentes a cada bucket:

In [ ]:
#as chaves são buckets de anos de experiencia, os valores são listas de salários associadas ao bucket em questão
salary_by_tenure_bucket = defaultdict(list)

for salary, tenure in salaries_and_ternures:
  bucket = tenure_bucket(tenure)
  salary_by_tenure_bucket[bucket].append(salary)

In [ ]:
salary_by_tenure_bucket

defaultdict(list,
            {'more than five': [83000, 88000, 76000, 69000, 76000, 83000],
             'less than two': [48000, 48000],
             'between two and five': [60000, 63000]})

Agora a gente computa a media salarial  de cada grupo

In [ ]:
#as chaves são buckets de anos de experiencia, os valores são a média
average_salary_by_bucket = {
  tenure_bucket: sum(salaries)/len(salaries)
  for tenure_bucket, salaries in salary_by_tenure_bucket.items()
}

In [ ]:
average_salary_by_bucket

{'more than five': 79166.66666666667,
 'less than two': 48000.0,
 'between two and five': 61500.0}